.bottom-nav{

position:fixed;

bottom:18px;

left:50%;

transform:translateX(-50%);

width:92%;

max-width:470px;

height:78px;

padding:0 18px;

background:rgba(20,20,20,.92);

backdrop-filter:blur(24px);

border:1px solid rgba(255,255,255,.06);

border-radius:26px;

display:flex;

align-items:center;

justify-content:space-between;

box-shadow:
0 10px 35px rgba(0,0,0,.45);

z-index:999;

}

.nav-item{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

gap:6px;

color:#8f8f8f;

font-size:11px;

font-weight:600;

text-decoration:none;

transition:.25s;

width:60px;

}

.nav-item svg{

transition:.25s;

}

.nav-item:hover{

color:white;

}

.nav-item.active{

color:#D4AF37;

}

.nav-item.active svg{

transform:translateY(-2px);

}

.nav-add{

width:62px;

height:62px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
180deg,
#F4D56A,
#D4AF37
);

color:black;

text-decoration:none;

box-shadow:
0 8px 30px rgba(212,175,55,.45);

transform:translateY(-18px);

transition:.25s;

}

.nav-add:hover{

transform:translateY(-22px) scale(1.05);

}

.nav-add svg{

stroke-width:3;

}

@media(max-width:420px){

.bottom-nav{

width:95%;

}

.nav-item span{

display:none;

}

}